<!--CONTACT SECTION -->
<div id="contact-section">
  <div class="container">
    <div class="row main-top-margin">
      <div class="col-md-8 col-md-offset-1">
        <h1 class="h2"><span class="glyphicon glyphicon-check"></span> <%= t('menu.business') %></h1>
      </div>
    </div>
    <!-- ./ Main Heading-->
    <div class="row main-low-margin">
      <div class="col-md-12  col-sm-12 ">
        <div class="col-md-6  ">
          <% @businesses.each do |business| %>
              <div class="event">
                <p><%= business.field %></p>
                <p><%= business.programming_language %></p>
                <p><%= business.business %></p>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!--END CONTACT SECTION -->
