
<div id="header-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <h1 class="STYLE1">&nbsp; </h1>
                <h1 class="STYLE1">bene-grouper</h1>
                <br/>
                <br/>
                <br/>
                <h2> Do it today, be proud tomorrow </h2>
                <h3>&nbsp;</h3>
            </div>
        </div>
    </div>
</div>

<!-- BASIC INFO SECTION -->
<div id="basic-info">
    <div class="container">
        <div class="row main-low-margin text-center">
            <div class="col-md-8 col-md-offset-2 ">
                <h1>会社概要</h1>
                <p>&nbsp;</p>
                <table width="810" border="0">
                    <tr>
                        <td width="243" align="right" valign="top">&nbsp; </td>
                        <td width="117" align="left" valign="top"><span class="STYLE2">会社名</span></td>
                        <td width="436" align="left" valign="top"><span class="STYLE2">株式会社 Bene-Grouper</span></td>
                    </tr>
                    <tr>
                        <td align="right" valign="top">&nbsp; </td>
                        <td align="left" valign="top"><span class="STYLE2">設立日</span></td>
                        <td align="left" valign="top"><span class="STYLE2">平成２５年３月１４日</span></td>
                    </tr>
                    <tr>
                        <td align="right" valign="top">&nbsp; </td>
                        <td align="left" valign="top"><span class="STYLE2">代表取締役</span></td>
                        <td align="left" valign="top"><span class="STYLE2">李　博</span></td>
                    </tr>
                    <tr>
                        <td align="right" valign="top">&nbsp; </td>
                        <td align="left" valign="top"><span class="STYLE2">本社</span></td>
                        <td align="left" valign="top"><span
                                class="STYLE2">〒136-0071　	東京都江東区亀戸５－６－２１　ＵＩＷ９　ＢＬＤＧ．４Ｆ－８</span></td>
                    </tr>
                    <tr>
                        <td align="right" valign="top">&nbsp; </td>
                        <td align="left" valign="top"><span class="STYLE2">電話番号</span></td>
                        <td align="left" valign="top"><span class="STYLE2">090-9833-9292</span></td>
                    </tr>
                    <tr>
                        <td align="right" valign="top">&nbsp; </td>
                        <td align="left" valign="top"><span class="STYLE2">FAX</span></td>
                        <td align="left" valign="top"><span class="STYLE2">090-9833-9292</span></td>
                    </tr>
                    <tr>
                        <td align="right" valign="top">&nbsp; </td>
                        <td align="left" valign="top"><span class="STYLE2">資本金</span></td>
                        <td align="left" valign="top"><span class="STYLE2">500万円</span></td>
                    </tr>
                    <tr>
                        <td align="right" valign="top">&nbsp; </td>
                        <td align="left" valign="top"><span class="STYLE2">取引銀行</span></td>
                        <td align="left" valign="top"><span class="STYLE2">三菱東京UFJ銀行<br>
                 みずほ銀行</span></td>
                    </tr>
                    <tr>
                        <td align="right" valign="top">&nbsp; </td>
                        <td align="left" valign="top"><span class="STYLE2">業務内容</span></td>
                        <td align="left" valign="top"><span class="STYLE2">・ソフトウェア（システム）開発サービス<br>
                 ・システム導入に関するコンサルティング<br>
                 ・企業向けソリューションシステム<br>
                 ・コンピュータ教育</span></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!--END BASIC INFO SECTION -->


